/* Main colour  #2E2F42*/
/* secondary colour #434455 */
/* accent #4D5AE5 */


body {font-family: Roboto; 
    text-decoration: none;
    background: #E5E5E5
     }
     :root {
        --line-height: 1.5;
        --primary-text-color: #2E2F42;

     }

     
     
/* Header */

.accent {
    color: #4D5AE5;
}
.logo .link {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--primary-text-color); 
}
   

.menu .link  {
font-weight: 500;
font-size: 16px;
line-height: var(--line-height);
text-decoration: none;
color: var(--primary-text-color);
}
.list {
    list-style: none;
}

.address .link {
font-style: normal;
font-size: 16px;
line-height: var(--line-height);
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}

/* Buttoms */
.btm-list {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: var(--line-height);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #F4F4FD
}
.btm-accent {
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
      
    display: flex;
    align-items: center;
    text-align: center;
    color: #4D5AE5;    
    background: #F4F4FD
    
}
.btm-list :hover,
.btm-list :focus{
    color: #FFFFFF;
    background: #4D5AE5
}
.click {
font-weight: 500;
font-size: 16px;
line-height: var(--line-height);
display: flex;
align-items: center;
letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5
    
}
.content {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}
.direction {
font-size: 16px;
line-height: var(--line-height);
letter-spacing: 0.02em;
color: #434455;
}
.main-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;

    color: #FFFFFF
}

.title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;

color: var(--primary-text-color);
}
/* Footer */
.logofooter {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color: #F4F4FD;
}
.mission {
font-size: 16px;
line-height: var(--line-height);
letter-spacing: 0.02em;
color: #E7E9FC;
}